.container_smallCard{

  width: 700px;

}

.container_smallCard > hr{

}

.conteudo-card{
  display: flex;
  flex-direction: row;
}

.imagem-small > img{
  width: 250px;
  min-width: 200px;
  height: 300px;
  margin-right: 20px;
}

.titulo-small{
  display: flex;
  justify-content: center;
  align-items: center;
}
