<menu-title class="titulo"></menu-title>

<div class="artigo">

  <div class="artigo-main">

    <!--Big Card está dinâmico recebendo o conteudo atraves de atributos da Classe do Typescript-->
    <big-card id="1" fotoBig="https://m.media-amazon.com/images/I/51BbyizsUaL.jpg"
    tituloBig="Percy Jackson e o Ladrão de Raios"
    textoBig="O primeiro livro da série Percy Jackson & os Olimpianos baseado na mitologia grega, escrito por Rick Riordan., que narra a vida do adolescente Percy Jackson que descobre ser um semideus, filho de Poseidon com uma humana."></big-card>

  </div>

  <div class="artigo-menores">

    <small-card id ='2' fotoSmal="https://m.media-amazon.com/images/I/81vTk3hdXEL._UF894,1000_QL80_.jpg"
     tituloSmal="Manual De Assassinato Para Boas Garotas"></small-card>

     <small-card id='3' fotoSmal="https://m.media-amazon.com/images/I/81iqH8dpjuL.jpg"
     tituloSmal="A Biblioteca da Meia-Noite"></small-card>


  </div>

</div>
