.titulo{
  margin-top: 15px;
  margin-bottom: 30px !important;
  border: 2px black;
}



.artigo{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 15px !important;
}






