<menu-title></menu-title>

<div class="artigo">

  <div class="artigo-main">

    <!--Big Card está dinâmico recebendo o conteudo atraves de atributos da Classe do Typescript-->
    <big-card id="1" fotoBig="https://lumiere-a.akamaihd.net/v1/images/g_moana_09_17699_064f5500_2f9ff275.jpeg?region=285,0,730,730"
    tituloBig="Moana - A Princesa mais Parecida Comigo"
    textoBig="Não é a minha favorita, mas me pareço bastante com ela, além do fato de amar estar perto do mar."></big-card>

  </div>

  <div class="artigo-menores">

    <small-card id ='2' fotoSmal="https://lumiere-a.akamaihd.net/v1/images/g_moana_09_17699_064f5500_2f9ff275.jpeg?region=285,0,730,730"
     tituloSmal="A Princesa parecida comigo"></small-card>

     <small-card id='3' fotoSmal="https://lumiere-a.akamaihd.net/v1/images/g_moana_09_17699_064f5500_2f9ff275.jpeg?region=285,0,730,730"
     tituloSmal="A Princesa parecida comigo"></small-card>

     <small-card id='4' fotoSmal="https://lumiere-a.akamaihd.net/v1/images/g_moana_09_17699_064f5500_2f9ff275.jpeg?region=285,0,730,730"
     tituloSmal="A Princesa parecida comigo"></small-card>
  </div>

</div>
